@media only screen and ( max-width: 1200px) {
    .desktop{
        display:none;
    }
    .mobile{
        display:block;
    }
    .banner1{
        height:150px;
        background-image: url('/assets/img/banner1.png');
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
     }
     .text-banner{
        width:120px;
        height:120px;
     }
     .img-banner{
        width:150px;
        height:150px;
     }
     .home-mob{
        border-right: 3px solid grey;
    height: 30px;
    border-top-right-radius: 37px;
     }
     .search-mob{
        border-left: 3px solid grey;
    height: 30px;
    border-top-left-radius: 37px;
        
     }
     .c1-mob{
        border-right:2px solid #8d8d8d;
     }
     .c11-mob{
        border-left:2px solid #8d8d8d;
     }
     .c2{
        color:#67c2ed;
        background-color:white
     }
     .machine{
        margin:0;
        border-radius:0px;
     }
}